{% extends 'flatpages/news/default.html'%}

{% block content %}
<div class="features">
    <h2> Регистрация </h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

<input type="submit" value="Продолжить">

</form>
 <html>
    <head>
        <title>{% block head_title %}{% endblock head_title %}</title>
    </head>
    <body>
        {% block body %}
        
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
    </body>
</html>
</div>>
{% endblock %}